/* *********Q2 : */
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* *********Q3 : */
.container2 {
  display: grid;
  grid:
    "g1 g1 g1"
    "g2 g3 g4"
    "g5 g5 g5";
  padding: 20px;
}

.header {
  grid-area: g1;
  background-color: blue;
}
.nav {
  grid-area: g2;
  background-color: brown;
}
.article {
  grid-area: g3;
  background-color: aquamarine;
}
.aside {
  grid-area: g4;
  background-color: blanchedalmond;
}
.footer {
  grid-area: g5;
  background-color: blueviolet;
}

/* *********Q4 : */
.button {
  margin-left: 50%;
  padding: 20px;
}

/* *********Q6 : */
table {
  border-color: brown;
  border-style: dotted;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

th {
  background-color: rgb(222, 153, 153);
}

/* *********Q7 : */
.image1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

/* *********Q8 : */
.image2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

img {
  width: 100px;
}
